body {
  background-color: black;
  color: white;
  font-family: 'Poppins', sans-serif;
}

.HomeTitle {
 color: white;
}

.header {
  width: 150px;
  height: 500px;
  padding:10px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 10px;
}
